BODY {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #ffffff; FONT-FAMILY: arial, sans-serif; COLOR: black; FONT-SIZE: 9pt
}
HR {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
INPUT {
	WIDTH: 0.8in; FONT-FAMILY: arial, sans-serif; COLOR: black; FONT-SIZE: 9pt
}
INPUT.color {
	WIDTH: 0.8in; FONT-FAMILY: courier; COLOR: black; FONT-SIZE: 9pt
}
INPUT.file {
	WIDTH: 2in
}
TABLE.form {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TABLE.head {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 700px; PADDING-RIGHT: 0px; FONT-SIZE: 10pt; PADDING-TOP: 0px
}
TABLE.foot {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 10pt; PADDING-TOP: 0px
}
.h1 {
	TEXT-ALIGN: left; FONT-FAMILY: arial, sans-serif; FONT-SIZE: 30pt; VERTICAL-ALIGN: bottom
}
.h3 {
	TEXT-ALIGN: right; FONT-FAMILY: arial, sans-serif; FONT-SIZE: 15pt; VERTICAL-ALIGN: bottom
}
TD {
	COLOR: black
}
TD.margin {
	TEXT-ALIGN: center; WIDTH: 1in; FONT-FAMILY: arial, sans-serif; FONT-WEIGHT: normal
}
TD.preview {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #ffffff; WIDTH: 5.5in; FONT-FAMILY: arial, sans-serif; HEIGHT: 1in; FONT-WEIGHT: normal
}
TD.clearpreview {
	BACKGROUND-IMAGE: url(clear.jpg); TEXT-ALIGN: center; WIDTH: 5.5in; FONT-FAMILY: arial, sans-serif; HEIGHT: 1in; FONT-WEIGHT: normal
}
TD.sel {
	TEXT-ALIGN: left; FONT-FAMILY: arial, sans-serif; FONT-WEIGHT: bold
}
TD.menu {
	TEXT-ALIGN: left; FONT-FAMILY: arial, sans-serif; FONT-WEIGHT: bold
}
TD.formdesc {
	TEXT-ALIGN: right; WIDTH: 1.5in; FONT-FAMILY: arial, sans-serif; FONT-SIZE: 9pt; VERTICAL-ALIGN: top; FONT-WEIGHT: normal
}
TD.formedit {
	TEXT-ALIGN: left; WIDTH: 2.5in; FONT-FAMILY: arial, sans-serif; FONT-SIZE: 9pt; VERTICAL-ALIGN: top; FONT-WEIGHT: normal
}
TD.menulist {
	WIDTH: 2in; VERTICAL-ALIGN: top
}
TD.smerr {
	WIDTH: 2.5in; FONT-FAMILY: arial, sans-serif; COLOR: red; FONT-SIZE: 9pt; VERTICAL-ALIGN: top; FONT-WEIGHT: bold
}
TD.sminfo {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: top
}
TD.foot {
	TEXT-ALIGN: center; WIDTH: 3.75in; FONT-FAMILY: arial, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal
}
P {
	TEXT-ALIGN: justify; FONT-FAMILY: arial, sans-serif
}
P.foot {
	TEXT-ALIGN: center; FONT-FAMILY: arial, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
LI {
	TEXT-ALIGN: justify; FONT-FAMILY: arial, sans-serif
}
A {
	COLOR: blue; TEXT-DECORATION: none
}
IMG {
	TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
A:visited {
	COLOR: blue
}
A:active {
	COLOR: blue
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
