#body {
		font: 0.8em arial, helvetica, sans-serif;
	}
	
#header {
	width: 100%;
	height: 12%;
	position: absolute;
	top: 0;
	bottom: 86%;
	left: 0;
	background-color: #98F5FF;

}


#header form {
	position: absolute;
	top: 10;
	bottom: 40%;
	right: 6%;
	background-color: #99FFCC;
    }


#content {
	width: 80%;
	height: 100%;
	position: absolute;
	top: 20%;
	background-color: #FFE1FF;
	left: 0%;
}
	
#tabs {
	width: 100%;
	height: 2;
	position: absolute;
	top: 100;
	bottom: 80%;
	left: 0%;
}

#adv {
	width: 19.5%;
	height: 100%;
	position: absolute;
	top: 20%;
	bottom: 7.5%;
	right: 0;
	background-color: #F1EDC2;
	border: 3px solid brown;
}

#toolbar {
	width: 20%;
	height: 20%;
	position: absolute;
	top: 20%;
	background-color: #EE82EE;
	left: 0%;
}

#toolbar input.button {
  color:#050;
  height: 25%;
  width: 100%;
  font: bold small 'trebuchet ms',helvetica,sans-serif;
  background-color: #E9967A;
}

#toolbar input.button:hover{
  background-color: #FFEECA;
}
