<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="localeResolver"
		class="cn.org.seventh.web.common.CustomLocaleResolver"
		autowire="byName">
		<property name="defaultViewDir" value="/WEB-INF/default/" />
		<property name="viewDir">
			<value>
				zh_CN=/WEB-INF/zh_CN/
				en_US=/WEB-INF/en_US/
			</value>
		</property>
	</bean>
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"
		autowire="byName">
		<property name="defaultStatusCode" value="500" />
	</bean>
	<!-- for velocity config -->
	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer"
		autowire="byName">
		<property name="resourceLoaderPath" value="/" />
	</bean>
	<!-- for freemarker config -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer"
		autowire="byName">
		<property name="templateLoaderPath" value="/" />
	</bean>
</beans>