<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!-- 属性后置处理器 基础配置 无须修改 -->
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		autowire="byName">
		<property name="location"
			value="classpath:/spring/config.properties" />
	</bean>
	<!-- 资源文件解析器 基础配置无须修改 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource"
		autowire="byName">
		<property name="basename" value="i18n.message" />
	</bean>
	<!-- AOP自动增强器 基础配置无须修改 -->
	<bean
		class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" autowire="byName">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<!-- 自定义AOP环绕通知 用于按自定义的方式处理不同切面 -->
	<bean class="cn.org.seventh.web.aop.AdviceDefinitions"
		autowire="byName">
	</bean>
</beans>