<html>
<body>

<div class="font-family:Arial;" style="white-space: pre;background-color:#cadef4;" >
Hi $patientName,
   $doctorName has cancelled an appointment. Following are the details -
			<b>Headline:</b> $headline
			<b>Date:</b>     $date
			<b>Time:</b>     $time
			<b>Duration:</b> $duration
			<b>Comments:</b> $comments

	Could you please review and confirm the appointment?

Thanks and Regards,
Appment Team.

</div>
</body>

</html>