<html>
<body>
<h3>Hi Dr. $patientName</h3>

<div>
   $doctorName has cancelled an appointment. Following are the details -</br>
   <pre>Headline: $headline<pre></br>
   <pre>Date:     $date<pre></br>
   <pre>Time:     $time<pre></br>
   <pre>Duration: $duration<pre></br>
   <pre>Comments: $comments<pre></br>
	
	Please logon to mediapp and set up a new appointment?</br>
	
Thanks and Regards,</br>
Appment Team.
	
</div>
</body>

</html>