<html>
<body>
<div>
   Hi,</br>
   Thank you for registering with mediApp. Your login details are -<br/>
   	User ID - $username<br/>
	password - $password<br/>
	
Thanks and Regards,<br/>
MediApp Team.

</div>
</body>

</html>