<html>
<body>

<div class="font-family:Arial;" style="white-space: pre;background-color:#cadef4;" >
Hi,
   Thank you for registering with Appment. Your login details are -
			<b>User ID:</b> $username
			<b>password:</b>$password

	Could you please review and confirm the appointment?

Thanks and Regards,
Appment Team.

</div>
</body>

</html>